@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

#loading{
  display: none;
  transition: opacity 250ms ease-in, opacity 100ms ease-out;
}

.htmx-request #loading{
  display: flex;
}
.htmx-request#loading{
  display: flex;
}

#check-img{
  display: flex;
  transition: opacity 100ms ease-in, opacity 250ms ease-out;
}

.htmx-request #check-img{
  display: none;
}
.htmx-request#check-img{
  display: none;
}

html,
body {
    height: 100%;
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}