<div class="mx-auto w-full max-w-screen-2xl mt-20 text-[#3a5f7e]">
    <h1 class="mb-3 text-4xl font-bold uppercase break-words">
        <%= @category %> Կազմակերպություններ
    </h1>

    <div class="container">
        <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
            <thead class="text-white">
                <%= for organization <- @organizations do %>
                    <tr
                        class="bg-[#3a5f7e] flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th class="p-3 text-left">Անուն</th>
                        <th class="p-3 text-left">Դոմեն(ներ)</th>
                    </tr>
                    <% end %>
            </thead>
            <tbody class="flex-1 sm:flex-none">
                <%= for organization <- @organizations do %>
                    <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
                        <td class="border-grey-light border hover:bg-gray-100 p-3">
                            <%= organization.name %>
                        </td>
                        <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">
                            <%= for domain <- organization.domains do %>
                                <div class="flex justify-between items-center">
                                    <a href={"https://#{domain.domain}"} target="_blank">
                                        https://<%= domain.domain %>
                                    </a>
                                    <a href={"/check/#{domain.domain}"}>
                                        <.draw_stars rating={@rating} size={20} />
                                    </a>
                                </div>
                                <% end %>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>

    <.previous_page_link/>
    

</div>